* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'Open Sans';
    font-size: 14px;
}

/* Style the header */
header {
    background-image: url("HeaderFrontPage.jpg");
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
h1 { 
    color: black;
    font-size: 90px;  
    font-weight: 120;
    background-color: #A8C3D6;
    font-family: "Miss Fajardose";
    }

h2 {
    color: black;
    font-size: 24px;
    font-weight: 100;
    font-family: "Playfair Display";
}
h3 {
    color: black;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 18px;
    background-color: #A8C3D6;
    padding: 10px 0px;
    font-weight: 100;
    }


/* Style de navigatiebar */
.navbar{
    display:flex;
    justify-content: center;
}

.navbar a{
    color:black;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}

/* Change color on hover */
.navbar a:hover{
    background-color: #EAEEEA;
}


/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

/* Create two unequal columns that sits next to each other*/
/* Main column */
.main{
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.side{
    flex: 30%;
    background-color: white;
    padding: 20px;
}

@media screen and (max-width: 500px) {
    .row, .navbar {
        flex-direction: column;
    }
}


@media screen and (min-width: 992px) {
    .row {
        max-width: 992px;
    }
}