* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'Open Sans';
    font-size: 14px;
}

/* Style the header */
header {
    background-image: url("HeaderFrontPage.jpg");
    text-align: center;
    padding-top: 75px;
    padding-bottom: 50px;
    height: 275px;
}

/* andere header afbeelding voor de OverMij pagina */
#OverMij {
    background-image: url("HeaderOverMij.jpg");
}

h1 { 
    color: black;
    font-size: 90px;  
    font-weight: 120;
    background-color: #A8C3D6;
    font-family: "Miss Fajardose";
    }

h2 {
    color: black;
    font-size: 24px;
    font-weight: 100;
    font-family: "Playfair Display";
}
h3 {
    color: black;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 18px;
    background-color: #A8C3D6;
    padding: 10px 0px;
    font-weight: 100;
    }

h4 {
    font-family: 'Open Sans';
    font-size: 12px;
    color: gray
}

/* Style de navigatiebar */
.navbar{
    display:flex;
    justify-content: center;
}

.navbar a{
    color:black;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}

/* Change color on hover */
.navbar a:hover{
    background-color: #EAEEEA;
}


/* countdown */
/*
#countdown {
    display:inline-block;
    margin:5% auto;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    line-height:1.5em;
    background:#EAEEEA;
    border:solid 5px #A8C3D6;
}
*/
#countdown {
    display: inline-block;
    text-align: center;
    font-family: 'Open Sans';
}

/* row container */
.container {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

/* Create two unequal columns that sits next to each other*/
/* Main column */
.main{
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.side{
    flex: 30%;
    background-color: white;
    padding: 20px;
}

.half{
    flex: 50%;
    background-color: white;
    padding:10px;
    margin-top: auto; 
    margin-bottom: auto;
}

.couple{
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px  solid #8c8b8b;
}

/* Make category border above article */
.category {
    border: none;
    border-top: 8px double #8c8b8b;
    border-width: thick;
	text-align: center;
}

.category a{
    background-color: white;
    display: inline-block;
    position: relative;
    top: -12px;
    padding: 0 10px;
    text-decoration: none;
    color: #8c8b8b;
    font-size: 14px;
}

/* Alle benodigde opmaak voor de over mij pagina */
.rowOM {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.columnOM {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.columnOM img {
    margin-top: 8px;
    vertical-align: middle;
}
/* Adjustments for small screens */
@media screen and (max-width: 500px) {
    .row, .navbar {
        flex-direction: column;
    }

    .columnOM {
        flex: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 800px){
    .columnOM{
        flex: 50%;
        max-width: 50%;
    }
}
 /* Adjustements for wide screens */
@media screen and (min-width: 992px) {
    .row {
        max-width: 992px;
    }

    .columnOM{
        max-width:248px;
    }
}